---
import Layout from '../layouts/Layout.astro';
---

<Layout title = " Public - Start App">
	<main class="max-w-xl mx-auto py-12">
		<h1 class="text-3xl font-bold mb-6">
			App de retos personales
		</h1>
		<p>
			Esta es una aplicaci贸n de retos personales que te permite crear y gestionar tus propios retos. Puedes a帽adir nuevos retos, marcarlos como completados y eliminarlos cuando ya no los necesites.
		</p>
		<p class="mt-6">隆Solo para usuarios autenticados!</p>

		<div class="mt-12">
			<button class="bg-blue-500 text-white px-4 py-2 rounded">
				Iniciar Sesi贸n
			</button>
		</div>
		<p class="mt-12">
			Si ya has iniciado sesi贸n, puedes ver tus retos personales en
			<a class="underline text-sky-400" href="/retos">la secci贸n de retos</a> .
		</p>
	</main>
</Layout>
