---
import Layout from '../layouts/Layout.astro';
import {
	SignedIn,
	SignedOut,
	SignInButton,
	UserButton,
} from '@clerk/astro/components';
---

<Layout title = "🔓 Public - Start App">
	<main class="max-w-xl mx-auto py-12">
		<h1 class="text-3xl font-bold mb-6">
			App de retos personales
		</h1>
		<p>
			Esta es una aplicación de retos personales que te permite crear y gestionar tus propios retos. Puedes añadir nuevos retos, marcarlos como completados y eliminarlos cuando ya no los necesites.
		</p>
		<p class="mt-6">¡Solo para usuarios autenticados!</p>

		<SignedOut>
			<div class="mt-12">
				<SignInButton class="bg-blue-500 text-white px-4 py-2 rounded">
					Iniciar Sesión
				</SignInButton>
			</div>	
		</SignedOut>

		<SignedIn>
			<UserButton/>
			<p class="mt-12">
				¡Ya has iniciado sesión!, Entra a tu 
				<a class="underline text-sky-400" href="/retos">
				panel de retos</a>
			</p>
		</SignedIn>
		
	</main>
</Layout>
