---
import AddChallenge from '../components/AddChallenge.astro';
import ChallengesList from '../components/ChallengesList.astro';
import Layout from '../layouts/Layout.astro';
import { getUserChallenges } from '../lib/db';

const userId = 'testUser'; // Mock user from `challenges.json.ts`
const challenges = await getUserChallenges(userId);
---

<Layout title = "🔒 Private">
	<main class="max-w-xl mx-auto py-12">
		<h1 class="text-3xl font-bold mb-6">
			tus retos personales
		</h1>
		<p>Esta página está protegida y sólo un usuario registrado la puede ver</p>
    <ChallengesList retos={challenges} />
		<AddChallenge />	
	</main>
</Layout>
